<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSISoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WebService/WebServiceSI.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSISoap"
                contract="WSStockIt.WebServiceSISoap" name="WebServiceSISoap" />
        </client>
    </system.serviceModel>
</configuration>